<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Eventuality</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <link  type="text/css" rel="stylesheet" href="../css/Styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="nav-bar">
                    <ul class="nav navbar-nav">    
                        <form class="navbar-form">
                            <div class="input-group add-on" id="search-bar">
                                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                <div class="input-group-btn">
                                <button class="btn btn-default" id="srch-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" id="drp-dwn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories 
                            </a>
                            <ul class="dropdown-menu" id="drp-menu">
                                <li><a href="#">Category 1</a></li>
                                <li><a href="#">Category 2</a></li>
                                <li><a href="#">Category 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main">
            
            
            <div id="Event00123">
                            <h2>Baguio City <br> Festival Events </h2>
            </div>
            
        <hr>

          <!-- Marketing messaging and featurettes
          ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="placeholder">
                <p id = placeholder> Panagbenga Festival 2019</p>
                <img class="imagesInside" src="../images/abstract.jpg" alt="abstract image"> 
                <img class="imagesInside" src="../images/abstract.jpg" alt="abstract image"> 
                <img class="imagesInside" src="../images/abstract.jpg" alt="abstract image"> 
                <img class="imagesInside" src="../images/abstract.jpg" alt="abstract image"> 
  
                
            </div>
            <div class = "anotherPlaceholder">
                <p id = anotherPlaceholder> Hello afdhajdfhasdf
                asdfasd <br> asdfasdfasdfasdfasd <br> asfdasdfasdfasdf </p>
            </div>

          <br>
          
          <!-- FOOTER -->
          <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>
        </main>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
